<html>
	<head>
		<meta charset ="utf-8">
        <link href="../static/cssFile/bootstrap.min.css" rel="stylesheet">
        <link href="../static/cssFile/bootstrap-theme.min.css" rel="stylesheet">
		<title>空气雾霾影响分布图</title>
		<style type="text/css">
		.chord path {
	  			fill-opacity: 0.67;
	  			stroke: #000;
  				stroke-width: 0.5px;
		}
        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }
        .selectTime{
            position: absolute;
            top:10px;
            left:800px;
        }
		</style>
	</head>
	<body>
        <div class = "form-group selectTime">
            <span class="input-group-addon">请选择时间差</span>
            <select class = "form-control" onchange="timechange(this.value)" id="select1">
                    <option value="0">请选择</option>
                    <option value="1">1小时</option>
                    <option value="2">2小时</option>
                    <option value="3">3小时</option>
                    <option value="5">5小时</option>
                    <option value="8">8小时</option>
                    <option value="12">12小时</option>
                </select>
        </div>



        <script src="../static/jsFile/jquery-2.2.1.min.js"></script>
        <script src="../static/jsFile/bootstrap.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript">

			var cityName ={{cityName | safe}};
            var data ={{ condition | safe }};
            var data2 = {{ informativness | safe }};



            var index = [0,-20,-40,-60,-80,-100];
            var index2 = [0,60,120,180];
            var city_name = cityName.split(",");
			var haze= ["优","良","轻度","中度","重度","严重"];
            var tag= ["val","inf","uni","pro"]
			var fill= ["#00CD00","#FFFF00","#EE9A00","#FF0000","#D02090","#8B1A1A"];

			var color20 = d3.scale.category20();

                var dataList = eval(data);
					var matrix = [];
                    var uniqueArray = [];
                    var proArray = [];
					for(var i=0;i<city_name.length;i++){
						for(var j=0;j< 6;j++){
							var str = city_name[i]+","+j;
							data2.forEach(function(d){
								if(d.name == str){
 			 						matrix[i*6+j] = d.value;
                                    uniqueArray[i*6+j] = d.uniqueness;
                                    proArray[i*6+j] = d.pro;
 			 					}
							})
						}
					}


					var pie = d3.layout.pie()
								.sort(null);	//排序
					var piedata = pie(matrix);


					var data = new Array();
					for(var k = 0;k<dataList.length;k++){
						var str = dataList[k].name;
						var tempArray = str.split(",");
						var startIndex = city_name.indexOf(tempArray[0]);
						var endIndex = city_name.indexOf(tempArray[1]);
						var startOffset = parseInt(tempArray[2]);
						var endOffset = parseInt(tempArray[3]);
						startIndex = startIndex*6+startOffset;
						endIndex = endIndex*6+endOffset;
						var JsonObject ={source:piedata[startIndex],target:piedata[endIndex],toIndex:endIndex,fromIndex:startIndex};
						data.push(JsonObject);
					}


 			 		var width  = 600;
					var height = 600;
					var innerRadius = width/2 * 0.7;
					var outerRadius = innerRadius * 1.1;

					var svg = d3.select("body").append("svg")
						.attr("width",width*1.5)
						.attr("height",height*2)
						.append("g")
						.attr("transform", "translate(" + width/2 + "," + height/2 + ")");

					var outer_arc =  d3.svg.arc()
					 	.innerRadius(innerRadius)
					 	.outerRadius(outerRadius);


					var g_outer = svg.append("g");

					g_outer.selectAll("path")
				   		.data(piedata)
				   		.enter()
				   		.append("path")
				   		.style("fill", function(d,i) {
				   			return fill[i%6];
				   		})
				   		.style("stroke", function(d,i) {
				   			return fill[i%6];
				   		 })
				   		.attr("d", outer_arc )
				   		.on("mouseover",function(d,i){
				   			d3.select(".chord")
				   			  .selectAll("path")
				   			  .style("opacity", 0.1);
				   			d3.selectAll("#Id"+i)
				   			   .style("opacity",1);
						})
						.on("mouseout",function(d,i){
				   			d3.select(".chord")
				   			  .selectAll("path")
				   			  .style("opacity", 1);
						});

				   	g_outer.selectAll("text")
						.data(piedata)
						.enter()
						.append("text")
						.each( function(d,i) {
							d.angle = (d.startAngle + d.endAngle) / 2;
							d.name = city_name[i/6];
						})
						.attr("dy",".35em")
						.attr("transform", function(d){
							return "rotate(" + ( d.angle * 180 / Math.PI ) + ")" +
						   			"translate(0,"+ -1.0*(outerRadius+10) +")" +
						    	( ( d.angle > Math.PI*3/4 && d.angle < Math.PI*5/4 ) ? "rotate(180)" : "");
						})
						.text(function(d){
							return d.name;
						});

					var inner_chord =  d3.svg.chord()
						.radius(innerRadius);

					svg.append("g")
						.attr("class", "chord")
		    			.selectAll("path")
						.data(data)
						.enter()
						.append("path")
						.attr("d", inner_chord)
						.attr("id",function(d){
							return "Id"+d.fromIndex;
						})
		    			.style("fill", function(d) {
				   			return fill[d.toIndex %6];
				   		})
						.style("opacity", 1);


                    for(var j=0;j<city_name.length;j++) {
                        tempInform = matrix.slice(j*6, j*6+6);
                        tempUnique = uniqueArray.slice(j*6, j*6+6);
                        tempPro = proArray.slice(j*6,j*6+6);

                        var linearInform = d3.scale.linear()
                                .domain([d3.min(matrix), d3.max(matrix)])
                                .range([0, -100]);

                        var linearUnique = d3.scale.linear()
                                .domain([d3.min(uniqueArray), d3.max(uniqueArray)])
                                .range([0, -100]);

                        var linearPro = d3.scale.linear()
                                .domain([d3.min(proArray), d3.max(proArray)])
                                .range([0,-100]);

                        var ordinalX = d3.scale.ordinal()
                                .domain(tag)
                                .range(index2);

                        var ordinalY = d3.scale.ordinal()
                                .domain(haze)
                                .range(index);

                        var xAxis = d3.svg.axis()
                                .scale(ordinalX)
                                .orient("bottom").ticks(tag.length);


                        svg.append("g")
                                .attr("class", "axis")
                                .attr("transform", "translate("+300+","+(j*200-150)+")")
                                .call(xAxis);

                        var yAxis = d3.svg.axis()
                                .scale(ordinalY)
                                .orient("left").ticks(city_name.length);



                        svg.append("g")
                                .attr("class", "axis")
                                .attr("transform","translate("+300+","+ (j*200-150)+")")
                                .call(yAxis);

                        var line = d3.svg.line()
                                .x(function(d,i){return ordinalX(i);})
                                .y(function(d,i){
                                    if(i== 0){
                                        return ordinalY(d);
                                    }
                                    else if(i == 1){
                                        return linearInform(d);
                                    }
                                    else if(i==2){
                                        return linearUnique(d);
                                    }
                                    else if(i == 3){
                                        return linearPro(d);
                                    }
                                });

                        for(var n = 0;n<6;n++){
                            var dataset = [];
                            dataset[0] = n;
                            dataset[1] = tempInform[n];
                            dataset[2] = tempUnique[n];
                            dataset[3] = tempPro[n];

                            var path=svg.append("path")
                                .attr("d", line(dataset))
                                .style("fill",fill[n])
                                    .style("fill","none")
                                .style("stroke-width",2)
                                .style("stroke",fill[n])
                                .style("stroke-opacity",0.9)
                                .attr("transform", "translate("+300+","+(j*200-150)+")");
                        }
                    }
            function timechange(val){
                var tempSvg =$(".selectTime svg")
                if (tempSvg != null){
                    tempSvg.remove();
                }

               $.ajax({
                    type:'GET',
                    url:'/addCondition/',
                    data:{cityName: cityName, time:val},
                    dataType:'json',
                    success:function(tmp)
                        {
                             alert(tmp.condition);


			                var cityName =tmp.cityName;
                            var data =eval(tmp.condition);
                            var data2 = eval(tmp.informativness);
                            cityName = cityName.substring(1,cityName.length-1);
                            var city_name = cityName.split(",");
			                var fill= ["#00CD00","#FFFF00","#EE9A00","#FF0000","#D02090","#8B1A1A"];

                            var dataList = eval(data);
                            var matrix = [];
                            var uniqueArray = [];
                            var proArray = [];
                            console.log(city_name);
					        for(var i=0;i<city_name.length;i++){
						        for(var j=0;j< 6;j++){
							        var str = city_name[i]+","+j;
							        data2.forEach(function(d){
								        if(d.name == str){
 			 						    matrix[i*6+j] = d.value;
                                        uniqueArray[i*6+j] = d.uniqueness;
                                        proArray[i*6+j] = d.pro;
 			 					    }
							    })
						    }
					    }

					        var pie = d3.layout.pie()
								.sort(null);	//排序
					        var piedata = pie(matrix);


                            var data = new Array();
					for(var k = 0;k<dataList.length;k++){
						var str = dataList[k].name;
						var tempArray = str.split(",");
						var startIndex = city_name.indexOf(tempArray[0]);
						var endIndex = city_name.indexOf(tempArray[1]);
						var startOffset = parseInt(tempArray[2]);
						var endOffset = parseInt(tempArray[3]);
						startIndex = startIndex*6+startOffset;
						endIndex = endIndex*6+endOffset;
						var JsonObject ={source:piedata[startIndex],target:piedata[endIndex],toIndex:endIndex,fromIndex:startIndex};
						data.push(JsonObject);
					}
                             var width  = 300;
					         var height = 300;
                             var innerRadius = width/2 *0.9;
                             var outerRadius = innerRadius * 1.1;

					    var svg = d3.select(".selectTime").append("svg")
						        .attr("width",width*2)
						        .attr("height",height*2)
						        .append("g")
						        .attr("transform", "translate(" + width/2 + "," + height/2 + ")");

					    var outer_arc =  d3.svg.arc()
					 	    .innerRadius(innerRadius)
					 	    .outerRadius(outerRadius);


                            var g_outer = svg.append("g");

					g_outer.selectAll("path")
				   		.data(piedata)
				   		.enter()
				   		.append("path")
				   		.style("fill", function(d,i) {
				   			return fill[i%6];
				   		})
				   		.style("stroke", function(d,i) {
				   			return fill[i%6];
				   		 })
				   		.attr("d", outer_arc )
				   		.on("mouseover",function(d,i){
				   			d3.select(".chord")
				   			  .selectAll("path")
				   			  .style("opacity", 0.1);
				   			d3.selectAll("#Id"+i)
				   			   .style("opacity",1);
						})
						.on("mouseout",function(d,i){
				   			d3.select(".chord")
				   			  .selectAll("path")
				   			  .style("opacity", 1);
						});

				   	g_outer.selectAll("text")
						.data(piedata)
						.enter()
						.append("text")
						.each( function(d,i) {
							d.angle = (d.startAngle + d.endAngle) / 2;
							d.name = city_name[i/6];
						})
						.attr("dy",".35em")
						.attr("transform", function(d){
							return "rotate(" + ( d.angle * 180 / Math.PI ) + ")" +
						   			"translate(0,"+ -1.0*(outerRadius+10) +")" +
						    	( ( d.angle > Math.PI*3/4 && d.angle < Math.PI*5/4 ) ? "rotate(180)" : "");
						})
						.text(function(d){
							return d.name;
						});

					var inner_chord =  d3.svg.chord()
						.radius(innerRadius);

					svg.append("g")
						.attr("class", "chord")
		    			.selectAll("path")
						.data(data)
						.enter()
						.append("path")
						.attr("d", inner_chord)
						.attr("id",function(d){
							return "Id"+d.fromIndex;
						})
		    			.style("fill", function(d) {
				   			return fill[d.toIndex %6];
				   		})
						.style("opacity", 1);
                        }
                });

            }
		</script>
	</body>
</html>